/* CSS styles */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-item {
    width: 300px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

.product-item h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.product-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-item p {
    margin-bottom: 10px;
}


.custom-button:hover {
    background-color: #0056b3;
}


.custom-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 2px;
    cursor: pointer;
  }

  /* CSS styles for the h1 element */
h1 {
    font-family: Arial, sans-serif; /* Example font family */
    font-size: 36px; /* Example font size */
    color: #333; /* Example color */
    text-align: center; /* Center align the text */
    margin-top: 50px; /* Example top margin */
  }
  
  .checkout-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float:right;
  }
  
  /* styles.css */

.container {
    max-width: 800px; /* Set the maximum width of the container */
    margin: 0 auto;  /* Center the container on the page */
  }
  
  .content-box {
    border: 2px solid #ccc; /* Border color and width */
    padding: 20px; /* Padding inside the box */
    margin-top: 20px; /* Margin at the top of the box */
  }
  
  table {
    width: 100%; /* Make the table fill the container width */
    border-collapse: collapse; /* Collapse table borders */
  }
  
  th, td {
    border: 1px solid #ddd; /* Border color and width for table cells */
    padding: 8px; /* Padding inside table cells */
    text-align: left; /* Align text to the left within cells */
  }
  
  h1 {
    text-align: center; /* Center-align the heading */
  }
  