<h1>Welcome to Prasamsha's Shop</h1>

<div class="product-list">
    <div *ngFor="let product of products" class="product-item">
        <h2>{{product.name}}</h2>
        <img [src]="product.imageUrl" alt="{{ product.name }}" class="product-image">
        <p>{{product.description}}</p>
        <p>Price: {{product.price | currency:'USD':'symbol':'1.2-2'}}</p>
        <div>
            
            <label [for]="'quantity' + product.id">Quantity</label>
            <input type="number" [id]="'quantity' + product.id" name="quantity" value="1" min="1" class="custom-quantity"> <!-----if product.id is 1, the ID becomes 'quantity1'.-->
            
            <button class="custom-button" (click)="addToCart(product, getQuantity(product.id))">Add to Cart</button>

        </div>
    </div>
    
</div>

<button class="gotocartbutton" routerLink="/cart">Go to Cart</button>






